<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>ID CARD~!</title>
</head>
<body>
<h1>身份证最后一位校验码生成：</h1>
<form action="http://47.98.188.59/game01/wap/?act=test_idcard&st=do_test" method="post">
    身份号码前17位：<input  type="text" value="" name="num">
    <input  type="submit" value="生成">
</form>
<h1>随机生成身份证号：</h1>
<form action="http://47.98.188.59/game01/wap/?act=test_idcard&st=random_id" method="post">
    点击随机生成：
    <input  type="submit" value="生成">
</form>
</body>
</html>
