<html>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<form action="http://47.98.188.59/game01/wap/?act=test_erlangc&st=main" method="post">
    来电数量:<br>
    <input type="text" value="" name='pho'>
    <br>
    来电数量精度:<br>
    <input type="text" value="" name='time'>
    <br>
    平均通话时长:<br>
    <input type="text" value="" name='ts'>
    <br>
    目标应答时长:<br>
    <input type="text" value="" name='waite'>
    <br>
    服务水平:<br>
    <input type="text" value="" name='answer'>
    <br>
    <input type="submit" value="提交">
</form>
</html>